Repository Oszilloraptor/CallbackSwitch, changes with the labels that .github/labeler.yml gives for each.
All labels: composer.json, .github, config (tooling), tests (unit), tests (functional), code change, changelog, documentation, php, shell

Implement CaseNotFoundException + Test
  src/Exceptions/CaseNotFoundException.php
  tests/functional/Exceptions/CaseNotFoundExceptionTest.php
Labels: code change, php

Implement Interface CallbackSwitch
  src/Interfaces/CallbackSwitch.php
Labels: code change, php

Implement AbstractCallbackSwitch + Test
  src/Abstractions/AbstractCallbackSwitch.php
  tests/dummies/DummySwitch.php
  tests/functional/Abstractions/AbstractCallbackSwitchTest.php
  tests/unit/Abstractions/AbstractCallbackSwitchTest.php
Labels: code change, php

Implement CaseNotFoundException + Test
  src/Exceptions/CaseNotFoundException.php
  tests/functional/Exceptions/CaseNotFoundExceptionTest.php
Labels: code change, php

Implement Interface CallbackSwitch
  src/Interfaces/CallbackSwitch.php
Labels: code change, php

Implement AbstractCallbackSwitch + Test
  src/Abstractions/AbstractCallbackSwitch.php
  tests/dummies/DummySwitch.php
  tests/functional/Abstractions/AbstractCallbackSwitchTest.php
  tests/unit/Abstractions/AbstractCallbackSwitchTest.php
Labels: code change, php

Create dependabot.yml
  .github/dependabot.yml
Labels: .github, config (tooling)

Implement SwitchByValue
  src/Switches/SwitchByValue.php
  tests/functional/Switches/SwitchByValueTest.php
Labels: code change, php

Implement SwitchByIsA
  src/Switches/SwitchByIsA.php
  tests/functional/Switches/SwitchByIsATest.php
Labels: code change, php

Implement SwitchByValue
  src/Switches/SwitchByType.php
  tests/functional/Switches/SwitchByTypeTest.php
Labels: code change, php

Implement SwitchByValue
  src/Switches/SwitchByValue.php
  tests/functional/Switches/SwitchByValueTest.php
Labels: code change, php

Implement SwitchByValue
  src/Switches/SwitchByType.php
  tests/functional/Switches/SwitchByTypeTest.php
Labels: code change, php

Implement SwitchByIsA
  src/Switches/SwitchByIsA.php
  tests/functional/Switches/SwitchByIsATest.php
Labels: code change, php

Change Namespaces RiktaD -> Rikta
  README.md
  composer.json
  src/Abstractions/AbstractCallbackSwitch.php
  src/Exceptions/CaseNotFoundException.php
  src/Interfaces/CallbackSwitch.php
  src/Switches/SwitchByIsA.php
  src/Switches/SwitchByType.php
  src/Switches/SwitchByValue.php
  tests/dummies/DummySwitch.php
  tests/functional/Abstractions/AbstractCallbackSwitchTest.php
  tests/functional/Exceptions/CaseNotFoundExceptionTest.php
  tests/functional/Switches/SwitchByIsATest.php
  tests/functional/Switches/SwitchByTypeTest.php
  tests/functional/Switches/SwitchByValueTest.php
  tests/unit/Abstractions/AbstractCallbackSwitchTest.php
Labels: composer.json, code change, documentation, php

Fix PSR-3 Namespaces in composer.json
  composer.json
Labels: composer.json

Add SwitchBySubstring
  src/Switches/SwitchBySubstring.php
  tests/functional/Switches/SwitchBySubstringTest.php
  tests/functional/Switches/SwitchByValueTest.php
Labels: code change, php

Fix PSR-3 Namespaces in composer.json
  composer.json
Labels: composer.json

Add SwitchBySubstring
  src/Switches/SwitchBySubstring.php
  tests/functional/Switches/SwitchBySubstringTest.php
  tests/functional/Switches/SwitchByValueTest.php
Labels: code change, php

Remove version field from composer.json
  composer.json
Labels: composer.json

Fix minor documentation issues
  CHANGELOG.md
  LICENSE
  README.md
  composer.json
  tests/unit/Abstractions/AbstractCallbackSwitchTest.php
Labels: composer.json, changelog, documentation, php

Update badges
  README.md
Labels: documentation

.github/labeler.yml:

composer.json:
  - ./composer.json

.github:
  - .github/*
  - .github/**/*

config (tooling):
  - ./*.dist
  - .github/*.yml

tests (unit):
  - tests/unit

tests (functional):
  - tests/functional

code change:
  - src/*
  - src/**/*

changelog:
  - ./CHANGELOG.md

documentation:
  - docs/
  - README.md

php:
  - ./**/*.php

shell:
  - ./*.sh
  - ./**/*.sh
